* {
    margin: 0;
    padding: 0;
}

.button-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
}

button {
    /*height: 90%;
    width: 90%;*/
    background-color: #dfdfdf;
    border: none;
}

button:hover {
    background-color: #c2c2c2;
    cursor: pointer;
}