* {
    font-family: 'Roboto', sans-serif;
}

.main {
    display: grid;
    grid-template-rows: auto 40px;
}

.set-node {
    width: 80rem;
    margin-top: 20px;
    height: 50px;
    border: black 2px solid;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto 45px;
}

.set-node p {
    margin-top: 10px;
}

.set-node label {
    margin-top: 10px;
    float: left;
}

.save {
    width: 80rem;
}

.save button {
    float: right;
    margin-top: 10px;
    width: 100px;
    height: 50px;
    border: 1px black solid;
    background-color: var(--folder-color);
    border-radius: 5px;
}

.save button:hover {
    border: 2px black solid;
    background-color: #cccccc;
}

#twopass {
    width: 30%;
    height: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#twopass:focus {
    outline: none;
}

#changePassButton {
    padding: 5px;
    border: none;
    background-color: var(--folder-color);
    outline: none;
    margin-top: 10px;
}

#changePassButton:hover {
    cursor: pointer;
}