<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR 404</title>
    <link rel="shortcut icon" href="../static/img/icon.png" type="image/x-icon">
    <style>
        body {
            padding: 0;
            margin: 0;
            display: grid;
            justify-content: center;
            align-items: center;
        }
        .error {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="error">
        <h2>LOL!</h2><br>
        <h4>That url does not work.</h4><br>
        <form method="post">
            <input type="submit" name='home' value="Go Home">
        </form>
    </div>
</body>
</html>
