<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arduino Control Pad</title>
    <link rel="stylesheet" href="../static/css/arduino.css">
    <link rel="shortcut icon" href="../static/img/icon.png" type="image/x-icon">
</head>
<body>
    <div class="button-grid">
        <div class="row1">
            <button id='1' onclick="lightChange('1')">Light 1 On</button>
            <button id='2' onclick="lightChange('2')">Light 2 On</button>
        </div>
        <div class="row2">
            <button id='3' onclick="lightChange('3')">Light 3 On</button>
            <button id='4' onclick="lightChange('4')">Light 4 On</button>
        </div>
        <div class="row3">
            <button id='5' onclick="lightChange('5')">Light 5 On</button>
            <button id='6' onclick="lightChange('6')">Light 6 On</button>
        </div>
        <div class="row4">
            <button id='7' onclick="lightChange('7')">Light 7 On</button>
            <button id='8' onclick="lightChange('8')">Light 8 On</button>
        </div>
    </div>
    <script>
        function lightChange(what) {
            if(document.getElementById(what).innerHTML.indexOf("On") !== -1){
                entry = {
                    light: what,
                    pos: '1'
                };
                fetch(`${window.origin}/arduino`, {
                    method: "POST",
                    credentials: "include",
                    body: JSON.stringify(entry),
                    cache: "no-cache",
                    headers: new Headers({
                        "content-type": "application/json"
                    })
                }).then(function(response) {
                    if (response.status !== 200) {
                        console.log('Error');
                    } else {
                        response.json().then(function (data) {
                            console.log(data['message']);
                        })
                    }
                })
                document.getElementById(what).innerHTML = 'Light '+what+' Off';
            } else {
                document.getElementById(what).innerHTML = 'Light '+what+' On';
                entry = {
                    light: what,
                    pos: '0'
                };
                fetch(`${window.origin}/arduino`, {
                    method: "POST",
                    credentials: "include",
                    body: JSON.stringify(entry),
                    cache: "no-cache",
                    headers: new Headers({
                        "content-type": "application/json"
                    })
                }).then(function(response) {
                    if (response.status !== 200) {
                        console.log('Error');
                    } else {
                        response.json().then(function (data) {
                            console.log(data['message']);
                        })
                    }
                })
            }

            
            
        }
    </script>
</body>
</html>