{% extends 'base2.html'%}
{% block title %}
Settings
{% endblock %}
{% block links %}
<link rel="stylesheet" href="../static/css/buttons.css">
<link rel="stylesheet" href="../static/css/settings.css">
{% endblock %}
{% block content %}
<center>
    <div class="sharing set-node">
        <p>Allow sharing files.</p>
        <label class="switch">
            {% if  settings[0]==1 %}
                <input id='sharing' type="checkbox" checked>
            {% else %}
                <input id='sharing' type="checkbox">
            {% endif %}
            <span class="slider round"></span>
        </label>
    </div>
    <div class="account set-node">
        <p>Make your account public.</p>
        <label class="switch">
            {% if  settings[1]==1 %}
                <input id='account' type="checkbox" checked>
            {% else %}
                <input id='account' type="checkbox">
            {% endif %}
            <span class="slider round"></span>
        </label>
    </div>
    <div class="light-mode set-node">
        <p>Dark Mode.</p>
        <label class="switch">
            {% if  settings[2]==1 %}
                <script>
                    let root = document.documentElement;
                    root.style.setProperty('--bg-color', 'rgb(45, 51, 59)');
                    root.style.setProperty('--bg-color-2', 'rgb(34, 39, 46)');
                    root.style.setProperty('--bg-color-3', 'rgb(100, 18, 100)');
                    root.style.setProperty('--color-hover', 'gray');
                    root.style.setProperty('--color-2', 'rgb(205, 217, 229)');
                    root.style.setProperty('--color', 'rgb(205, 217, 229)');
                    root.style.setProperty('--folder-color', 'rgb(205, 217, 229)');
                </script>
                <input id='light-mode' type="checkbox" checked>
            {% else %}
                <input id='light-mode' type="checkbox">
            {% endif %}
            <span class="slider round"></span>
        </label>
    </div>
    <div class="stocks set-node">
        <p>Enable stocks page.</p>
        <label class="switch">
            {% if  settings[3]==1 %}
                <input id='stocks' type="checkbox" checked>
            {% else %}
                <input id='stocks' type="checkbox">
            {% endif %}
            <span class="slider round"></span>
        </label>
    </div>
    <div class="notify set-node">
        <p>Allow Notifications.</p>
        <label class="switch">
            {% if  settings[4]==1 %}
                <input id='notify' type="checkbox" checked>
            {% else %}
                <input id='notify' type="checkbox">
            {% endif %}
            <span class="slider round"></span>
        </label>
    </div>
    <div class="trash-set set-node">
        <p>Delete file in the trash bin after 20 days.</p>
        <label class="switch">
            {% if  settings[5]==1 %}
                <input id='trash-set' type="checkbox" checked>
            {% else %}
                <input id='trash-set' type="checkbox">
            {% endif %}
            <span class="slider round"></span>
        </label>
    </div>
    <div class="encryption set-node">
        <p>Allow certain files to be password protected.</p>
        <label class="switch">
            {% if  settings[6]==1 %}
                <input id='encryption' type="checkbox" checked>
            {% else %}
                <input id='encryption' type="checkbox">
            {% endif %}
            <span class="slider round"></span>
        </label>
    </div>
    <div class="2auth set-node">
        <p>Enable 2-step authentication during login.</p>
        <label class="switch">
            {% if  settings[7]==1 %}
                <input id='2auth' type="checkbox" checked>
            {% else %}
                <input id='2auth' type="checkbox">
            {% endif %}
            <span class="slider round"></span>
        </label>
    </div>
    <div class="save">
        <button onclick="save()">
            Save Settings
        </button>
    </div>
</center>
{% endblock %}