.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content form input{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width:100%;
  border:none;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width:100%;
  border:none;
}


.dropdown form input:hover {background-color: #ddd;}
.dropdown button:hover {background-color: #ddd;}

.show {display: block;}

.menu {
    display: grid;
    grid-template-columns: 90% 10%;
    width: 200px;
    padding: 10px;
    padding-bottom: 5px;
    border: 2px black solid;
    border-radius: 10px;
    background-color: #dfdfdf;
}

.menu p {
    margin-top: 3px;
    margin-bottom: -3px;
}

.select-folder-button{
    background-color: #dfdfdf;
    border: none;
    border-radius: 25px;
    margin-top: 3px;
    width: 30px;
}

.select-folder-button:hover {
    color: gray;
    background-color: #dfdfdf;
}

.setgray {
    color: gray;
}

.select-folder-button:focus {
    outline: none;
    background-color: #dfdfdf;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f3f3f3;
    outline: solid 1px black;
    width: 120px;
    text-align: center;
}

.bi {
  pointer-events: none;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Modal Styling */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Input Styling */

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.renamesub {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.renamesub:hover {
  background-color: #45a049;
}