<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="test.css">
  <title>Testing Site</title>
</head>
<body>
  Cool stuff
  <button onclick="lightTheme()">Light</button>
  <button onclick="darkTheme()">Dark</button>
  <button onclick="colorTheme()">Colorful</button>
  <script>
    let root = document.documentElement;

    function lightTheme() {
      root.style.setProperty('--color', 'black');
      root.style.setProperty('--bg-color', 'white');
    }

    function darkTheme() {
      root.style.setProperty('--color', 'white');
      root.style.setProperty('--bg-color', 'black');
    }

    function colorTheme() {
      root.style.setProperty('--color', 'purple');
      root.style.setProperty('--bg-color', 'pink');
    }
  </script>
</body>
</html>